__pycache__
*.tar*
**/build/**
**/include/tensorflow/lite/** 
**/tensorflow_src/**
**/path/to/**
**/Crow/**/include/**
**/tflite_build/**
**/tflite_build_crow/**
**/tflite_build_with_crow/**
**/.ipynb_checkpoints/**